@page
@model ITMO.Course.ASPNet.FinalTask.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>Студент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
           Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            Отчество
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.MiddleName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Student.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">К списку студентов</a>
    </form>
</div>
